/* app */
#app {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	padding: var(--g4);
}

#filter {
	width: 100%;
	margin: var(--g2) 0 var(--g0) 0;
	padding: var(--gs);
	max-width: 35rem;
	border: var(--text) 1px dotted;
	background-color: var(--light);
	transition: all 0.3s ease;
	border-radius: 2px;
	font-family: var(--font);
}

#filter:focus {
	border-color: var(--primary);
	outline: none;
}

#topics,
#titles {
	padding-top: var(--gs);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	width: 55rem;
	max-width: 80%;
	max-height: calc(var(--g4) + var(--gs));
	overflow-y: scroll;
}

.hashtag {
	display: none;
}

#topics a,
#titles a {
	color: var(--background);
	background-color: var(--text);
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
	padding: 0 var(--gs);
	margin: calc(var(--gs) / 2);
	height: var(--g1);
	border-radius: 2px;
}

#topics a:hover,
#titles a:hover {
	background-color: var(--primary);
	color: var(--light);
}

#CTA {
	margin-top: var(--g3);
	border-bottom: var(--text) 1px dotted;
}
