section {
	width: 100%;
	max-width: var(--max);
	min-height: 50vh;
}

/* visibility handler */
.visible {
	display: flex !important;
}

/* product */
#predictor {
	flex-direction: row;
	padding: var(--g4) 0;
	display: none;
}

.description {
	flex: 1;
}

.description h2,
.description h3 {
	margin-bottom: var(--g1);
}

#buy {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: var(--text) 1px dotted;
}
/* examples */
#examples {
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	padding: var(--g3) 0;
}

.example {
	display: flex;
	flex-direction: row;

	width: 100%;
	min-height: 60vh;
	padding: var(--g3) 0;
}

.video {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: var(--text) 1px dotted;
}

/* contact */
#contact {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: var(--g4) var(--g0);
}

#contact a {
	margin: 0;
}

#mail {
	margin-bottom: var(--g3);
}

/* more */
#blog {
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: var(--g3) 0;
	margin: var(--g3) 0;
}

#blog h3 {
	padding: var(--g2);
}

#blog p {
	width: 100%;
	text-align: left;
}

#titles {
	margin-bottom: var(--g3);
	width: 100% !important;
	max-height: none !important;
}

#titles p {
	width: fit-content;
}
