---
import Logo from './Logo.astro';
---

<section>
  <h1>
    <Logo float={true} />

    Tr&#x3b1;de Le&#x3b1;gue
  </h1>
  <br />
  <br />
  <p>
    X3B1 is an experimental Trade League where members close more deals, exchange insights,
    and&nbsp;tackle current challenges together.<br /> Membership by invitation only.
  </p>
  <nav>
    <a href="">login</a>
    <a href="#contact" class="sec">cont&#x3b1;ct</a>
  </nav>
</section>
