---

---

<section>
  <h2>M&#x3b1;nifesto</h2>
  <p class="s r">2 min read</p>
  <br />
  <p>
    You might expect a&nbsp;long, formal text packed with business jargon — that’s usually
    the&nbsp;case. <br /> But not today. I’ll keep&nbsp;it simple and just share my plans for&nbsp;X3B1.
  </p>
  <p>
    I’m talking to you directly because I&nbsp;value <u>open dialogue and collaboration</u>. That’s
    the kind of culture I&nbsp;want to&nbsp;promote in&nbsp;every part of&nbsp;X3B1’s work.
  </p>

  <p>
    The core experiment is a&nbsp;Trading League, inspired by historical groups like the
    <a href="https://en.wikipedia.org/wiki/Hanseatic_League" class="sec" target="_blank"
      >Hanseatic</a
    >, <a href="https://en.wikipedia.org/wiki/Republic_of_Venice" class="sec" target="_blank"
      >Venetian</a
    >, or <a href="https://en.wikipedia.org/wiki/Consulate_of_the_Sea" class="sec" target="_blank"
      >Catalan</a
    > Leagues. I’m building a&nbsp;modern version using AI systems for unmatched speed and coordination.
    I&nbsp;believe this approach’s true potential goes far beyond what we can imagine today.
  </p>

  <p>
    As the X3B1 Trading League gets started, I’ll&nbsp;be inviting new members — including you — to
    join, engage, and take part in&nbsp;smaller experiments. I’ll be an active participant
    as&nbsp;well.
  </p>

  <p>
    That’s it - a simple idea, but tough to&nbsp;execute, and I’m counting on&nbsp;your support, so…
  </p>
  <p>I’m inviting you to join the X3B1 experiment.</p>
  <p>
    Let’s create <u>new deals, connect, and share knowledge</u> more efficiently than any traditional
    organization ever could.
  </p>
  <p>
    To wrap up, let me tweak a well-known quote: <br />
    <br />
    <i>If you want to go fast, go alone; <br /> If you want to go far, go together;</i>
    <br />
    <br />
    <i>If you want to go fast and far <br /> come with me!</i>
  </p>
  <p class="r">Alexander</p>
</section>
