:root {
	--gs: clamp(0.618rem, 0.5723rem + 0.2289vi, 0.7726rem);
	--g0: clamp(1rem, 0.9259rem + 0.3704vi, 1.25rem);
	--g1: clamp(1.618rem, 1.4981rem + 0.5993vi, 2.0225rem);
	--g2: clamp(2.6179rem, 2.424rem + 0.9696vi, 3.2724rem);
	--g3: clamp(4.2358rem, 3.922rem + 1.5688vi, 5.2948rem);
	--g4: clamp(6.8535rem, 6.3459rem + 2.5383vi, 8.5669rem);

	/* color palette */
	--w: #fff6f0;
	--l: #f0ebe0;
	--d: #0b1114;
	--g: #f5f5f585;
	--lr: #ff003c;
	--dr: #7a0404;
	--lb: #001eff;
	--db: #1e22aa;
	--cc1: var(--d);
	--cc2: var(--g);

	color-scheme: light dark;

	font-size: 100%;
	text-align: left;
	cursor: default;
	font-synthesis: none;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* typography */
h1,
h2,
h3,
h4,
p,
a,
button {
	line-height: 1.61em;
	max-width: 35rem;
	letter-spacing: 0.03em;
	font-weight: normal;
	font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052,
		serif;
	color: var(--d);
}

h1,
p,
a,
button {
	font-size: var(--g0);
}

h2,
h3 {
	font-size: var(--g2);
	max-width: 1200px;
}

h4 {
	font-size: var(--g1);
}

.s {
	font-size: var(--gs);
	font-weight: 100;
}

a {
	position: relative;
	cursor: pointer;
	margin: 0 var(--gs);
	padding: 0;
	text-decoration-color: var(--cc1);
}

a:hover {
	text-decoration-color: var(--w);
}

a:hover:before,
a:hover:after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
}

a:hover:before {
	left: 2px;
	text-shadow: -1px 0 var(--cc1);
	background: var(--g);
	animation: glitch-anim-2 1s linear forwards;
	animation-iteration-count: 1;
}

a:hover:after {
	clip: rect(20px, 400px, 30px, 0);
	left: -2px;
	text-shadow: -1px 0 var(--cc2);
	background: var(--cc2);
	animation: glitch-anim 0.9s linear alternate;
	animation-iteration-count: 1;
}

@keyframes glitch-anim {
	0% {
		clip: rect(10px, 400px, 15px, 0);
	}
	20% {
		clip: rect(400px, 400px, 41px, 0);
	}
	40% {
		clip: rect(25px, 400px, 26px, 0);
	}
	60% {
		clip: rect(10px, 400px, 15px, 0);
	}
	80% {
		clip: rect(26px, 400px, 29px, 0);
	}
	100% {
		clip: rect(40px, 400px, 45px, 0);
	}
}

@keyframes glitch-anim-2 {
	0% {
		clip: rect(30px, 400px, 40px, 0);
	}
	20% {
		clip: rect(26px, 400px, 28px, 0);
	}
	40% {
		clip: rect(15px, 400px, 100px, 0);
	}
	60% {
		clip: rect(40px, 400px, 45px, 0);
	}
	80% {
		clip: rect(10px, 400px, 18px, 0);
	}
	100% {
		clip: rect(40px, 400px, 50px, 0);
	}
}

/* responsivenes */

@media (max-width: 750px) {
	h2 {
		font-size: var(--g1);
	}

	nav p,
	nav a {
		font-size: var(--g0) !important;
	}
}

@media (max-width: 450px) {
	nav {
		justify-content: flex-start !important;
		padding-left: var(--g0);
	}

	section {
		align-items: flex-start !;
	}

	section h2 {
		padding-left: var(--g0);
	}

	section p {
		width: 100%;
		text-align: left;
		padding-left: var(--g0);
	}

	#future {
		justify-content: flex-end;
		padding-bottom: var(--g2);
	}

	#past {
		justify-content: flex-start;

		padding-top: var(--g2);
	}
}
