h1,
h2,
h3,
h4,
p,
a {
	line-height: 1.61em;
	margin-bottom: var(--g1);
	max-width: 35em;
	letter-spacing: 0.05em;
}

h1,
h2 {
	font-size: var(--g1);
	font-weight: 800;
}

h3,
h4 {
	text-transform: uppercase;
	font-weight: 800;
}

p,
h3,
h4,
a {
	font-size: var(--g0);
}

p,
a {
	font-weight: 400;
}

a {
	color: var(--text);
	text-decoration: none;
	transition: color 0.3 ease;
}

a:hover {
	color: var(--secondary);
}
