:root {
	/* size and distance - golden ratio */
	--max: 1400px;
	--min: 320px;

	--gs: clamp(0.618rem, 0.5723rem + 0.2289vi, 0.7726rem);
	--g0: clamp(1rem, 0.9259rem + 0.3704vi, 1.25rem);
	--g1: clamp(1.618rem, 1.4981rem + 0.5993vi, 2.0225rem);
	--g2: clamp(2.6179rem, 2.424rem + 0.9696vi, 3.2724rem);
	--g3: clamp(4.2358rem, 3.922rem + 1.5688vi, 5.2948rem);
	--g4: clamp(6.8535rem, 6.3459rem + 2.5383vi, 8.5669rem);

	/* color palette */
	--light: #e6e6e6;
	--dark: #0d0d0d;
	--snow: #fffafa;
	--gray: #a8a8a8;
	--void: #1f1f1f;

	--text: var(--light);
	--background: var(--dark);
	--primary: var(--snow);
	--secondary: var(--gray);
	--complex: var(--void);

	color-scheme: dark;
	color: var(--text);
	background-color: var(--background);

	/* https://modernfontstacks.com/  */
	--monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
		'DejaVu Sans Mono', monospace;
	--industrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium',
		'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	--old: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;

	font-family: var(--monospace);
	font-size: 100%;
	text-align: left;
	cursor: default;
	font-synthesis: none;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
